body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  background-color: #c7edcc;
}
h1 {
  font-size: 150%;
  text-decoration: overline;
  border-bottom: thin dotted #888;
}
h2 {
  font-size: 1.2em;
}
h1,
h2 {
  color: #cc6600;
}
p {
  line-height: 1.6em;
}
blockquote {
      border-top-color: red;
      border-top-style: groove;
      border-top-width: thick;
      border-right-color: red;
      border-right-style: groove;
      border-right-width: thick;
      border-left-color: red;
      border-left-style: groove;
      border-left-width: thick;
}

p.note {
  font-style: italic;
  border-color: black;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding-left: 70px;
  margin: 40px;
  line-height: 2.6em;
  background-image: url("../images/img_star.png");
}
