body { 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: medium;
      background-color: #C7EDCC;
}
h1 {
      font-size: 150%;
      text-decoration: overline;
      border-bottom: thin dotted #888;
}
h2 {
      font-size: 1.2em;
}
h1, h2 {
      color: #cc6600;      
}
p {
      line-height: 1.6em;
}
blockquote {
      font-style: italic;
      border-color: black;
      border-width: 1px;
      border-style: dashed;
      background-color: #a7cece;
      padding: 12px;
      margin: 10px;
}


