body { 
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: medium;
      background-color: #C7EDCC;
}
h1 {
      font-size: 150%;
      color: rgb(80%, 40%, 0%)
}
h2 {
      font-size: 1.2em;
      color: rgb(123, 51, 0)
}
blockquote {
      font-style: italic;
}


