
.header {
  background-color: #2e7d32;
  height: 50px;
  padding-left: 10px;
}

.imgBack {
  height: 30px;
  width: 30px;
}

.headerLink {
  color: #ffffff;
  text-decoration: none;
}

.activeHeaderLink {
  border-bottom: #ebebeb solid 2px;
}

.search-container {
  text-align: right;
  margin-right: 10px;
}
