body {
  font-size: large;
}

h2 {
  font-size: 160%;
}

.text {
  font-size: 120%;
  line-height: 40px;
}

.webViewContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.webview {
  width: 100%;
  height: 100%;
  background-color: #C7EDCC;
}
