.header {
  background-color: #2e7d32;
  height: 25px;
  padding-left: 10px;
  display: flex;
}

.headerLink {
  color: #ffffff;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.activeHeaderLink {
  border-bottom: #ebebeb solid 2px;
}
