.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controlBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    height: 45px;
}

.buttons {
    width: 30%;
    margin: 10px;
}

.slide {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideImage {
    width: 60%;
}