.list-item {
    height: 400px;
}

.normal {
    background-color: antiquewhite;
}

.pinned {
    background-color: blue;
}

.done {
    background-color: black;
}

.checkbox {

}

.checkbox-custom {

}

.title {

}

.actions {
}

.icon-star {
}
