.list-item {
    font-size: 18px;
    line-height: 20px;
    height: 2rem;
    width: 100%;
    background-color: white;
    display: flex;
}

.normal {
}

.pinned {
}

.done {
}

.checkbox {

}

.checkbox-custom {

}

.title {

}

.actions {
}

.icon-star {
}
