/*:root是伪类, 匹配document的根元素*/
:root {
    font-size: 16px;
    font-family: "JetBrains Mono", sans-serif;
    /*CSS variables*/
    --text-primary: #acacac;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --selected-icon: #ff7eee;
    --transition-speed: 600ms;
}

/*不加这个就会body有个自动的margin, 效果就差了*/
body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    /*em: 一个相对的单位, 相对于html根元素的font-size属性. 所以这里就是80px*/
    margin-left: 6rem;
    margin-right: 1rem;
}

/*scroll bar*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* nav bar*/
.navbar {
    width: 5rem;
    /*100vh: relative to the size of view port*/
    height: 100vh;
    /*it will stay no matter how the user scroll the screen */
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.nav-ul {
    /*no bullet at the left for <li>*/
    list-style: none;
    /*<li> has large margin/padding by default. After these change, icons are align to the left*/
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-li {
    width: 100%;
}

.nav-li:last-child {
    margin-top: auto;
}

.nav-a {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed)
}

.nav-a:hover {
    /* 回归本色 */
    filter: grayscale(0%) opacity(1);
    /* 选中时整行的背景不一样 */
    background: var(--bg-secondary);
    /* 选中的文字颜色也不一样 */
    color: var(--selected-icon);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-a svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.svg-path {
    fill: var(--selected-icon);
}

.logo-li {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    /* 字母之间的距离. ch是单位, 表示字符宽度 */
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo-li svg {
    transform: rotate(0deg);
    transition: var(--transition-speed)
}

.navbar:hover .logo-li svg {
    transform: rotate(-180deg)
}

/*================Small Screens====================*/
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem
    }

    .logo {
        display: none
    }

    .nav-ul {
        flex-direction: row
    }

    .nav-a {
        justify-content: center;
    }

    main {
        margin: 0
    }
}