/*:root是伪类, 匹配document的根元素*/
:root {
    font-size: 16px;
    font-family: "JetBrains Mono", sans-serif;
    /*CSS variables*/
    --text-primary: #1e1e1e;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

/*不加这个就会body有个自动的margin, 效果就差了*/
body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    /*em: 一个相对的单位, 相对于html根元素的font-size属性. 所以这里就是80px*/
    margin-left: 6rem;
    margin-right: 1rem;
}

/*scroll bar*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

/* nav bar*/
.navbar {
    width: 5rem;
    /*100vh: relative to the size of view port*/
    height: 100vh;
    /*it will stay no matter how the user scroll the screen */
    position: fixed;
    background-color: var(--bg-primary);
}

.nav-ul {
    /*no bullet at the left for <li>*/
    list-style: none;
    /*<li> has large margin/padding by default. After these change, icons are align to the left*/
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

.nav-li:last-child {
    margin-top: auto;
}


